<app-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-tittle>Conversor</ion-tittle>
  </ion-toolbar>
</app-header>
<script>
  function Controller($scope, $http) 
  {
    $http.get('https://mindicador.cl/api').success(function(data) {
        $scope.dailyIndicators = data;
    }).error(function() {
        console.log('Error al consumir la API!');
    });
  }
</script>
<ion-content>

  <ion-card>
    <ion-item ng-controller="Controller">
      El valor actual de la dolar es ${{dailyIndicators.uf.valor}}
    </ion-item>
  </ion-card>

  
</ion-content>
