<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>TeLlevoAPP</ion-list-header>
          <br>
          <img class="img-logo" src="../assets/icon/seguro-de-auto.png" alt="">
          <ion-note>Planifica tu regreso a casa</ion-note>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="'/home'" routerLinkActive="selected">
              <p> Inicio </p>
            </ion-item>
            <ion-item  [routerLink]="'/about'" routerLinkActive="selected">
              <p>Sobre nosotros</p>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
