<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="usuario">
    <ion-item>
      <ion-label position="floating">rut</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombreCompleto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sexo</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.sexo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nacimiento</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.anoNacimiento" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">direccion</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.direccion" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.telefono" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="url" [(ngModel)]="usuario.image" required></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" color="success" (click)="updateUsuario()">
    <ion-icon name="save" slot="start">UPDATE</ion-icon>
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deleteUsuario()">
    <ion-icon name="trash" slot="start">DELETE</ion-icon>
  </ion-button>
</ion-content>

