<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="viaje">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="viaje.titulo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="viaje.descripcion" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">espacio disponible</ion-label>
      <ion-input type="number" [(ngModel)]="viaje.espacioDisponible" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">valor por persona</ion-label>
      <ion-input type="number" [(ngModel)]="viaje.valorPersona" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">contacto</ion-label>
      <ion-input type="text" [(ngModel)]="viaje.contacto" required></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" color="success" (click)="updateViaje()">
    <ion-icon name="save" slot="start">UPDATE</ion-icon>
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deleteViaje()">
    <ion-icon name="trash" slot="start">DELETE</ion-icon>
  </ion-button>
</ion-content>
