<app-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-tittle>Sobre nosotros</ion-tittle>
  </ion-toolbar>
</app-header>

<ion-content>
  <ion-card>

    <ion-card-content>
      <ion-img src="../../../assets/about/Jeremy.jpg" ></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Estudiante de Ingenieria en Informatica de DUOC UC.a</ion-card-subtitle>
      <ion-card-title>Jeremy Benjamin Landaeta Lizama</ion-card-title>
    </ion-card-header>

    <ion-card-content>Estudiante de 19 años.</ion-card-content>
    
  </ion-card>

  <ion-card>

    <ion-card-content>
      <ion-img src="../../../assets/about/Bastian.jpg" ></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Estudiante de Ingenieria en Informatica de DUOC UC.</ion-card-subtitle>
      <ion-card-title>Bastian Andres Colignon Orellana</ion-card-title>
    </ion-card-header>

    <ion-card-content>Estudiante de 20 años.</ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-content>
      <ion-img src="../../../assets/about/Benja.jpg" ></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Estudiante de Ingenieria en Informatica de DUOC UC.</ion-card-subtitle>
      <ion-card-title>Benjamín Alexander Loyola Salazar</ion-card-title>
    </ion-card-header>

    <ion-card-content>Estudiante de 20 años.</ion-card-content>

  </ion-card>
</ion-content>
