<ion-header>
  <ion-toolbar>
    <ion-title>conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios" (click)="openDetailUsuario(usuario)">
      <ion-avatar slot="start">
        <img [src]="usuario.image" alt="{{usuario.name}}">
      </ion-avatar>
      <ion-label>
        <h2>{{usuario.correo}} {{usuario.rut}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="addUsuario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>